body.ctmb {
  height: 100%;
  background: url("../images/bg-lastnews-home.jpg");
}
.single_ctmb {
  padding: 0px !important;
}
.single_ctmb #ctmb-header {
  height: 100px;
  position: relative;
  background-color: #222222;
}
.single_ctmb #ctmb-header h1 {
  font-size: 1.5em;
  font-weight: 700;
  color: #ffffff;
  margin: 0px !important;
  padding-left: 20px;
  line-height: 100px;
}
.single_ctmb #ctmb-header .xclose {
  position: absolute;
  top: 10px;
  right: 10px;
}
.single_ctmb #ctmb-header .xclose img {
  height: 15px;
  width: 15px;
}
.single_ctmb #ctmb-header .press-release {
  color: #30632a;
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-weight: 600;
}
.single_ctmb #ctmb-header .press-release span {
  height: 10px;
  width: 10px;
  background: url("../images/press.png") no-repeat;
  display: inline-block;
  margin-left: 5px;
}
.single_ctmb #ctmb-info {
  background: url("../images/post/symbior-solar-siam-mb.jpg") center center no-repeat;
  background-size: 100% 100%;
  height: 300px;
  width: 100%;
  position: relative;
}
.single_ctmb #ctmb-info .ctmb-info-table {
  color: #ffffff;
  font-size: 0.8em;
  height: 50%;
  padding-top: 20px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../images/bgslide.png");
}
.single_ctmb #ctmb-info .ctmb-info-table th {
  font-weight: 600 !important;
  padding: 2px 15px;
}
.single_ctmb #ctmb-info .ctmb-info-table td a {
  color: #3e9037;
  text-decoration: underline;
}
.single_ctmb #ctmb-info .ctmb-info-table table {
  width: 100%;
}
.single_ctmb #ctmb-detail {
  color: #a8a8a8;
  padding: 20px;
  height: 100%;
}

.table-ins {
  width: 100%;
  border: 1px #616262 solid;
  margin: 10px auto;
}
.table-ins td {
  border: 1px #616262 solid;
  padding: 9px;
  color: #fff;
}
.table-ins td span {
  font-weight: 700 !important;
}