body.ctmb {
	height: 100%;
	background: url("../images/bg-lastnews-home.jpg");
}
.single_ctmb {
	padding: 0px !important;
	#ctmb-header {
		height: 100px;
		position: relative;
		background-color: #222222;
		h1 {
			font-size: 1.5em;
			font-weight: 700;
			color: #ffffff;
			margin: 0px !important;
			padding-left: 20px;
			line-height: 100px;
		}
		.xclose {
			position: absolute;
			top: 10px;
			right: 10px;
			img {
			    height: 15px;
			    width: 15px;
		    }
		}
		.press-release {
			color: #30632a;
			position: absolute;
			bottom: 10px;
			left: 20px;
			font-weight: 600;
			span {
				height: 10px;
				width: 10px;
				background: url("../images/press.png") no-repeat;
				display: inline-block;
				margin-left: 5px;
			}
		}
	}

	#ctmb-info {
		background: url("../images/post/symbior-solar-siam-mb.jpg") center center no-repeat;
		background-size:100% 100%;
		height: 300px;
		width: 100%;
		position: relative;
		.ctmb-info-table {
			color: #ffffff;
			font-size: 0.8em;
			height: 50%;
			padding-top: 20px;
			position: absolute;
			left: 0; right: 0; bottom: 0;
			background: url("../images/bgslide.png");
			th {
				font-weight: 600 !important;
				padding: 2px 15px;
			}
			td {
				//padding: 2px 15px;
				a {
					color: #3e9037;
					text-decoration:underline;
				}
			}
			table {
				width: 100%;
			}
		}
	}

	#ctmb-detail {
		color: #a8a8a8;
		padding: 20px;
		height: 100%;
	}
}