/* Extra small devices (phones, less than 768px) */
@media (max-width: @screen-xs-max) {
	body {
		&.home {
			background: #ffffff url("../images/bg-landing-mb.jpg") no-repeat center center fixed !important;
			background-size: cover !important;
		}
	}
	#header {
		.navbar {
			background-color: #252525 !important;
			.navbar-collapse {
				ul {
					li {
						&:hover a, &.active:hover a, &.active a {
						}
						a {
							color: #c4c4c4 !important;
						}
					}
				}
			}
			.navbar-header {
				.navbar-brand {
				}
				.navbar-toggle {
				}
			}
		}
	}
	#wrap-hnews {
		.intro {
			font-size: 1.7em !important;
			span {
				display: block;
				font-style: normal !important;
			}
		}
		.latest-news {
			background: url("../images/bg-lastnews-home.jpg");
			padding-top: 10px;
			.tlnews {
				font-size: 1.7em !important;
			}
			.post {
				font-size: 1.3em !important;
				.row {
					margin-top: 10px;
				}
			}
		}
	}
	#wrap-container {
		.standard-wid{
			width: 100% !important;
		}
		#wrap-sidebar {

		}
	}
	#footer {
		.col-2 {padding-top: 0px !important;}
		.col-3 {
			padding-top: 0px !important;
			.asm2014 {
				text-align: left !important;
			}
		}
	}
}

/* Small devices (tablets, 768px to 992px) */
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	#header {
		.navbar {
			background-color: #252525 !important;
			.navbar-collapse {
				ul {
					li {
						&:hover a, &.active:hover a, &.active a {
						}
						a {
							color: #c4c4c4 !important;
						}
					}
				}
			}
			.navbar-header {
				.navbar-brand {
				}
				.navbar-toggle {
				}
			}
		}
	}
	#wrap-hnews {
		.hnews {
			.intro {
				font-size: 2em !important;
				span {
					display: block;
					font-style: normal !important;
				}
			}
		}
	}

}

/* Medium devices (desktops, 992px to 1200px) */
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
	#header {
		.navbar {
			background-color: transparent;
			margin-top: 1em;
			padding-left: 0;
			.navbar-collapse {
				ul {
					li {
						&:hover a, &.active:hover a, &.active a {
							border-bottom: 4px solid #419639;
						}
						a {
							color: #333333;
						}
					}
				}
			}
			.navbar-header {
				.navbar-brand {
				}
				.navbar-toggle {
				}
			}
		}
	}
	#wrap-hnews {
		.hnews {
			.intro {
				font-size: 2em !important;
			}
		}
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
	#header {
		.navbar {
			background-color: transparent;
			margin-top: 1em;
			padding-left: 4em;
			.navbar-collapse {
				ul {
					li {
						&:hover a, &.active:hover a, &.active a {
							border-bottom: 4px solid #419639;
						}
						a {
							color: #333333;
						}
					}
				}
			}
			.navbar-header {
				.navbar-brand {
				}
				.navbar-toggle {
				}
			}
		}
	}
}