html {
	height: 100%;
	position: relative;
}
body {
	font-size: 10px;
	font-family: 'Source Sans Pro', sans-serif;
	&.home {
		background: #ffffff url("images/bg-landing.jpg") no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	&.investement {
		background: #ffffff url("images/bg-investment.jpg") no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}
#header {
    position: relative;
	h1#logo a {
		display: block;
		width: 220px;
  		height: 37px;
  		background: url("images/logo.png") no-repeat top left;
  		text-indent: -9999999px;
	}
	.social {
		float: right;
    	line-height: 6.5em;
    	a.fb {
    		margin-right: 1.5em;
    	}
	}
	.navbar {
		border: none;
		margin-bottom: 20px;
		.navbar-collapse {
			border: none;
			ul {
				li {
					&:hover a, &.active:hover a, &.active a {
						color: #419639 !important;
						background-color: transparent !important;
					}
					a {
						font-size: 1.6em;
						font-weight: 600;
						margin: 0px 12px;
						padding-left: 0px;
						padding-right: 0px;
						padding-bottom: 10px !important;
						text-align: center;
						&:hover {color: #419639;}
					}
					&.nav_social {
						text-align: center;
						a {
							display: inline-block;
							img {
								height: 16px;
							}
						}
					}
				}
			}
		}
		.navbar-header {
			background-color: #43993c;
			.navbar-brand {
				padding: 10px;
				img {
					width: 180px;
				}
			}
			.navbar-toggle {
				border-color: transparent;
				&:hover, &:focus {
					background-color: transparent;
				}
				.icon-bar {
					background-color: #bfdcbc;
				}
			}
		}
	}
}
#wrap-container {
    margin-bottom: 30px;
    position: relative;
    color: #a5a6a8;
        .standard-wid {
            width: 350px;
        }
        #wrap-sidebar {
            background: url("images/sb-bg.png");
            overflow: auto;
            /*margin-left: -350px;*/
            float: left;
            #sidebar {
                .investment_portfolio {
                    .stitle {
                        font-size: 2em;
                        text-transform: uppercase;
                        color: #fff;
                        font-weight: 700;
                    }
                    .description {
                        margin-top: 10px;
                        font-size: 1.3em;
                    }
                }
                .item {
                    border-bottom: 1px #333436 solid; 
                    padding: 20px 30px;
                }
                .business {
                    background-image: url("images/arrow-right.png");
                    background-repeat: no-repeat;
                    background-position: 95% 50%;
                    cursor: pointer;
                    .bdescription {
                        margin-top: 10px;
                        font-size: 1.2em;
                    }
                }
            }
        }
        #wrap-content {
            float: left;
            background-image: url("images/sb-bg.png");
            height: 100%;
            margin-left: 1px;
            display: none;
            padding: 30px 10px 10px 10px;
            position: relative;
            color: #a5a6a8;
            .item-content {
                display: none;
            }
            #content-close {
                display: block;
                width: 24px;
                height: 24px;
                position: absolute;
                right: 30px;
                top: 30px;
                background-image: url("images/xclose.png");
                cursor: pointer;
                z-index: 999
            }
        }
}

#wrap-hnews {
	background: url("images/bgslide.png");
	.hnews {
		.intro {
			font-weight: 700;
			font-size: 2.4em;
			text-transform: uppercase;
			color: white;
			text-align: left;
			padding-top: 25px;
			padding-bottom: 10px;
			span {
				color: green;
  				font-style: italic;
			}
		}
		.latest-news {
			padding-bottom: 20px;
			.tlnews {
				font-weight: 700;
				font-size: 2em;
				color: #cccccc;
				text-transform: uppercase;
			}
			img {
				margin-top: 5px;
			}
			.post {
				color: #dddddd;
				display: block;
				font-size: 1.4em;
    			font-weight: 400;
    			&:hover {
    				text-decoration: none;
    				cursor: pointer;
    			}
			}
		}
	}
}

.footer-sticky {
	position: absolute;
	bottom: 0;
	width: 100%;
}

#wrap-footer {
	min-height: 54px;
	background-color: #000000;
	#footer {
		color: #555555;
		.col-1 {
			line-height: 54px;
			img.eunion {margin-left: 20px;}
		}
		.col-2 {
			padding: 11px 15px;
			p {
				margin: 0;
				font-size: 1.1em;
				font-weight: 700;
			}
		}
		.col-3 {
			padding: 10px 15px;
			p {
				margin: 0;
				&.asm2014 {font-weight: 700;text-align: right;}
				&.ldc {
					text-align: right;
					display: block;
					a {color: inherit;}
				}
			}
		}
	}
}