html {
  height: 100%;
  position: relative;
}
body {
  font-size: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  min-height: 100%;
}
body.home {
  background: #ffffff url("images/bg-landing.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@keyframes bgSilde {
  0%   { 
    background: url('images/slides/slide_1.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }
  7% { 
    background: url('images/slides/slide_1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }

  8%   { 
    background: url('images/slides/slide_2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }
  15% { 
    background: url('images/slides/slide_2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }

  16%   { 
    background: url('images/slides/slide_3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }
  22% { 
    background: url('images/slides/slide_3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }

  23%   { 
    background: url('images/slides/slide_4.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }
  29% { 
    background: url('images/slides/slide_4.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }

  30%   { 
    background: url('images/slides/slide_5.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }
  36% { 
    background: url('images/slides/slide_5.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }

  37% { 
    background: url('images/slides/slide_6.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }
  43% { 
    background: url('images/slides/slide_6.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }

  44% { 
    background: url('images/slides/slide_7.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }
  50% { 
    background: url('images/slides/slide_7.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }

  51% { 
    background: url('images/slides/slide_8.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }
  57% { 
    background: url('images/slides/slide_8.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }

  58%   { 
    background: url('images/slides/slide_9.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }
  64% { 
    background: url('images/slides/slide_9.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }

  65%   { 
    background: url('images/slides/slide_10.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }
  71% { 
    background: url('images/slides/slide_10.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }

  72%   { 
    background: url('images/slides/slide_11.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }
  78% { 
    background: url('images/slides/slide_11.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }

  79% { 
    background: url('images/slides/slide_12.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }
  85% { 
    background: url('images/slides/slide_12.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }

  86%   { 
    background: url('images/slides/slide_13.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }
  92% { 
    background: url('images/slides/slide_13.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }
}
@-webkit-keyframes bgSilde {
  0%   { 
    background: url('images/slides/slide_1.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }
  7% { 
    background: url('images/slides/slide_1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }

  8%   { 
    background: url('images/slides/slide_2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }
  15% { 
    background: url('images/slides/slide_2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }

  16%   { 
    background: url('images/slides/slide_3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }
  22% { 
    background: url('images/slides/slide_3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }

  23%   { 
    background: url('images/slides/slide_4.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }
  29% { 
    background: url('images/slides/slide_4.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }

  30%   { 
    background: url('images/slides/slide_5.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }
  36% { 
    background: url('images/slides/slide_5.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }

  37% { 
    background: url('images/slides/slide_6.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }
  43% { 
    background: url('images/slides/slide_6.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }

  44% { 
    background: url('images/slides/slide_7.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }
  50% { 
    background: url('images/slides/slide_7.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }

  51% { 
    background: url('images/slides/slide_8.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }
  57% { 
    background: url('images/slides/slide_8.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }

  58%   { 
    background: url('images/slides/slide_9.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }
  64% { 
    background: url('images/slides/slide_9.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }

  65%   { 
    background: url('images/slides/slide_10.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }
  71% { 
    background: url('images/slides/slide_10.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }

  72%   { 
    background: url('images/slides/slide_11.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }
  78% { 
    background: url('images/slides/slide_11.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }

  79% { 
    background: url('images/slides/slide_12.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }
  85% { 
    background: url('images/slides/slide_12.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }

  86%   { 
    background: url('images/slides/slide_13.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }
  92% { 
    background: url('images/slides/slide_13.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  }
}
body.investement {
  background: url('images/slides/slide_1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
  -webkit-animation: bgSilde 78s infinite;  /*Chrome, Safari, Opera  */
  animation: bgSilde 78s infinite;
}

h1 {
  font-size: 24px;
  font-family: 'Source Sans Pro Bold', sans-serif;
  color: #fff;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(fonts/SourceSansPro-Regular.otf);
}
@font-face {
  font-family: "Source Sans Pro Bold";
  src: url(fonts/SourceSansPro-Bold.otf);
}

#header {
  position: relative;
  z-index: 99;
}
#header h1#logo a {
  display: block;
  width: 220px;
  height: 37px;
  background: url("images/logo.png") no-repeat top left;
  text-indent: -9999999px;
}
#header .social {
  float: right;
  line-height: 6.5em;
}
#header .social a.in {
  float: right;
}
#header .social a.fb {
  margin-right: 1.5em;
}
#header .navbar {
  border: none;
  margin-bottom: 20px;
}
#header .navbar .navbar-collapse {
  border: none;
}
#header .navbar .navbar-collapse ul li:hover a,
#header .navbar .navbar-collapse ul li.active:hover a,
#header .navbar .navbar-collapse ul li.active a {
  color: #419639 !important;
  background-color: transparent !important;
}
#header .navbar .navbar-collapse ul li a {
  font-size: 1.6em;
  font-weight: 600;
  margin: 0px 12px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 10px !important;
  text-align: center;
}
#header .navbar .navbar-collapse ul li a:hover {
  color: #419639;
}
#header .navbar .navbar-collapse ul li.nav_social {
  text-align: center;
}
#header .navbar .navbar-collapse ul li.nav_social a {
  display: inline-block;
}
#header .navbar .navbar-collapse ul li.nav_social a img {
  height: 16px;
}
#header .navbar .navbar-header {
  background-color: #43993c;
}
#header .navbar .navbar-header .navbar-brand {
  padding: 10px;
}
#header .navbar .navbar-header .navbar-brand img {
  width: 180px;
}
#header .navbar .navbar-header .navbar-toggle {
  border-color: transparent;
  width: 50px;
}
#header .navbar .navbar-header .navbar-toggle:hover,
#header .navbar .navbar-header .navbar-toggle:focus {
  background-color: transparent;
}
#header .navbar .navbar-header .navbar-toggle .icon-bar {
  background-color: #bfdcbc;
}
#wrap-container {
  position: relative;
  color: #a5a6a8;
  font-size: 14px;
  z-index: 99;
  display: none;
}
#wrap-container .standard-wid {
  width: 350px;
}
#wrap-container #wrap-sidebar {
  /*margin-left: -350px;*/
  /*overflow: auto;*/
  height: 100%;
  float: left;
  color: #ccc;
  z-index: 9;
  box-sizing: border-box;
  background: url("images/sb-bg.png");
  /*border-right: 1px solid rgba(255, 255, 255, 0.4);*/
  margin-right: 15px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
#wrap-container #wrap-sidebar #sidebar .investment_portfolio .stitle {
  font-size: 2em;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
}
#wrap-container #wrap-sidebar #sidebar .investment_portfolio .description {
  margin-top: 10px;
  font-size: 1.3em;
}
#wrap-container #wrap-sidebar #sidebar .item {
  border-bottom: 1px #333436 solid;
  padding: 20px 30px;
}
#wrap-container #wrap-sidebar #sidebar .item .image-about-us img{
  content:url('images/logo-mobile.png');
}
#wrap-container #wrap-sidebar #sidebar .faded .image-about-us img{
  content:url('images/logo-mobile-fade.png');
}
#wrap-container #wrap-sidebar #sidebar .faded * {
  color: #525252 !important; 
}
#wrap-container #wrap-sidebar #sidebar .faded .title {
  color: rgba(42, 100, 150, 0.5) !important;
}
#wrap-container #wrap-sidebar #sidebar .faded .read-more {
  color: rgba(65, 150, 57, 0.4) !important;
}
#wrap-container #wrap-sidebar #sidebar .news {
  border-bottom: 0px;
  margin-left: 2px;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  padding-top: 0px;
  padding-bottom: 35px;
}
#wrap-container #wrap-sidebar #sidebar .news:first-child {
  border-left: 0px;
  padding: 20px 30px 20px 0px;
}
#wrap-container #wrap-sidebar #sidebar .news .title {
  color: #3B90DA;
}
#wrap-container #wrap-sidebar #sidebar .news .read-more {
  color: #419639;
  cursor: pointer;
  text-decoration: none;
}
#wrap-container #wrap-sidebar #sidebar .news .date {
  line-height: 0.5;
}
#wrap-container #wrap-sidebar #sidebar .news .date::before {
  content: "";
  width: 5px;
  height: 5px;
  margin-left: -33px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
}
#sidebar .item .left {
  float: left;
  width: 15%;
  font-weight: bold;
  margin-right: 25px;
}
#sidebar .item .right {
  width: 80%;
}
#wrap-container #wrap-sidebar #sidebar .business {
  background-image: url("images/arrow-right.png");
  background-repeat: no-repeat;
  background-position: 98% 50%;
  cursor: pointer;
}
#wrap-container #wrap-sidebar #sidebar .item-contact .bdescription {
  margin-top: 10px;
  font-size: 1.2em;
}
#wrap-container #wrap-sidebar #sidebar .business .bdescription {
  margin-top: 10px;
  font-size: 1.2em;
}
#wrap-container #wrap-content {
  /*background-image: url("images/sb-bg.png");*/
  /*height: 100%;*/
  /*display: none;*/
  /*position: relative;*/
  /*padding: 15px;*/
  height: 100%;
  color: #a5a6a8;
  padding-left: 350px;
  box-sizing: border-box;
}
#wrap-container #wrap-content .content-cover {
  background-image: url("images/sb-bg.png");
  padding: 15px;
}
#wrap-container #wrap-content .item-content {
  /*display: none;*/
  margin: 0px 15px;
  height: 100%;
}
#wrap-container #wrap-content .item-content .tooltips {
  min-height: 210px;
}
#wrap-container #wrap-content .item-content .img-cover {
  max-height: 230px;
  overflow: hidden;
}
#wrap-container #wrap-content #content-close {
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 10px;
  top: 10px;
  background-image: url("images/xclose.png");
  cursor: pointer;
  z-index: 999;
}
#wrap-hnews {
  background: url("images/bgslide.png");
}
#wrap-hnews .hnews .intro {
  font-weight: 700;
  font-size: 2.4em;
  text-transform: uppercase;
  color: white;
  text-align: left;
  padding-top: 25px;
  padding-bottom: 10px;
}
#wrap-hnews .hnews .intro span {
  color: green;
  font-style: italic;
}
#wrap-hnews .hnews .latest-news {
  padding-bottom: 20px;
}
#wrap-hnews .hnews .latest-news .tlnews {
  font-weight: 700;
  font-size: 2em;
  color: #cccccc;
  text-transform: uppercase;
}
#wrap-hnews .hnews .latest-news img {
  margin-top: 5px;
}
#wrap-hnews .hnews .latest-news .post {
  color: #dddddd;
  display: block;
  font-size: 1.4em;
  font-weight: 400;
}
#wrap-hnews .hnews .latest-news .post:hover {
  text-decoration: none;
  cursor: pointer;
}
.footer-sticky {
  position: absolute;
  z-index: 99;
  bottom: 0;
  width: 100%;
}
#wrap-footer {
  min-height: 54px;
  background-color: #000000;
  z-index: 99;
}
#wrap-footer #footer {
  color: #555555;
}
#wrap-footer #footer .col-1 {
  line-height: 54px;
}
#wrap-footer #footer .col-1 img.eunion {
  margin-left: 20px;
}
#wrap-footer #footer .col-2 {
  padding: 11px 15px;
}
#wrap-footer #footer .col-2 p {
  margin: 0;
  font-size: 1.1em;
  font-weight: 700;
}
#wrap-footer #footer .col-3 {
  padding: 10px 15px;
}
#wrap-footer #footer .col-3 p {
  margin: 0;
}
#wrap-footer #footer .col-3 p.asm2014 {
  font-weight: 700;
  text-align: right;
}
#wrap-footer #footer .col-3 p.ldc {
  text-align: right;
  display: block;
}
#wrap-footer #footer .col-3 p.ldc a {
  color: inherit;
}
.signatory, .eunion {
  max-height: 25px;
  width: auto;
}
.index-content {
  width: 100%;
  height: auto;
}
#mainslider {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

/*
*   About Tooltip---------------------------------------------------------------------
*/
#wrap-container #wrap-content .item-content .tooltips .cv-tooltip:hover .img-tooltip {
  display: block;
}
#wrap-container #wrap-content .item-content .tooltips .cv-tooltip:hover .arrow {
  display: block;
}
#wrap-container #wrap-content .item-content .tooltips .img-tooltip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  min-width: 350px;
  padding: 1px;
  text-align: left;
  background-color: #000;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  white-space: normal;
  max-height: 300px;
  overflow-y: hidden;
}
.tooltips .img-tooltip.top {
  margin-top: -300px;
  margin-left: 0;
}
.tooltips .img-tooltip.right {
  margin-left: 89%;
  margin-top: -5px;
}
.tooltips .img-tooltip.bottom {
  margin-top: 78%;
  margin-left: -70px;
}
.tooltips .img-tooltip.left {
  margin-top: -5px;
  left: -192% !important;
  right: 100%;
}
.tooltip-content {
  padding: 9px 14px;
}

.tooltips .cv-tooltip > .arrow,
.tooltips .cv-tooltip > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltips .cv-tooltip > .arrow {
  border-width: 11px;
  display: none;
}
.tooltips .cv-tooltip > .arrow:after {
  border-width: 10px;
  content: "";
}
.tooltips .cv-tooltip > .arrow.top  {
  content: " ";
  bottom: 96%;
  left: 45%;
  border-bottom-width: 0;
  border-top-color: #000;
}
.tooltips .cv-tooltip > .arrow.top:after {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999999;
  border-right-color: rgba(0, 0, 0, 0.25);
}
.tooltips .cv-tooltip > .arrow.right {
  top: 15%;
  left: 84%;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999999;
  border-right-color: rgba(0, 0, 0, 0.25);
}
.tooltips .cv-tooltip > .arrow.right:after {
  content: " ";
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #000;
}
.tooltips .cv-tooltip > .arrow.bottom {
  top: 62%;
  left: 55%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
}
.tooltips .cv-tooltip > .arrow.bottom:after {
  content: " ";
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #000;
}
.tooltips .cv-tooltip > .arrow.left {
  top: 15%;
  right: 92%;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999999;
  border-left-color: rgba(0, 0, 0, 0.25);
}
.tooltips .cv-tooltip > .arrow.left:after{
  content: " ";
  right: 1px;
  border-right-width: 0;
  border-left-color: #000;
  bottom: -10px;
}
/*
*   Newsletter responsive-----------------------------------------------------------
*/
#wrap-container #wrap-content .item-content  #background-table {
  -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.3); 
  -premailer-cellpadding: 0; 
  -premailer-cellspacing: 0; 
  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.3); 
  background: #222; 
  border-collapse: collapse; 
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.3); 
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
  margin: 0 auto; mso-table-lspace: 0pt; mso-table-rspace: 0pt; 
  width: 100%;
  list-style: none; 
  padding: 0px;
  background-color: #222;
}
#background-table li {
  float: left;
}

#background-table  .item-header {
  background-color: #222;
  padding: 0px 30px;
}
#background-table .item-header .last-title {
  border-collapse: collapse;
  color: #aaa;
  font-size: 26px;
  padding-bottom: 14px;
  padding-top: 16px;
}
#background-table .item-header .header-left img {
  width: 120px;
}
#background-table .header-left {
  float: left;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#background-table .header-right {
  padding-left: 140px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} 

#background-table  .item-inline {
  background: #458dcb; color: #fff; font-size: 14px; height: 37px;
  width: 100%;
  line-height: 2.5;
  padding-left: 30px;
  margin-top: 25px;
}

#background-table .li-item , #background-table .li-last-item {
  background-color: #222;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  width: 100%;
}
#background-table .li-item .item-left {
  position: absolute;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#background-table .li-item .item-right {
  float: left;
  width: 100%;
  padding-left: 210px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#background-table .li-last-item {
 padding-bottom: 30px; 
}
#background-table .li-last-item .item-left {
  float: left;
  width: 100%;
  position: absolute;
  padding-right: 260px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#background-table .li-last-item .item-right {
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#background-table .li-item .item-left img, 
#background-table .li-last-item .item-right img {
  width: 190px;
}
#background-table .li-item .title,
#background-table .li-last-item .title {
  color: #458dcb; font-size: 0.875em; line-height: 20px; margin: 0; padding-bottom: 0;
}
#background-table .li-item .content,
#background-table .li-last-item .title {
  color: #aaa; font-size: 0.875em; line-height: 20px; margin: 0; padding-bottom: 5px;
}
#background-table .li-item .read,
#background-table .li-last-item .title {
  color: #3d9733; cursor: pointer; font-size: 14px; text-decoration: none;
}

#background-table .li-footer-item {
  width: 100%;
}


@media all and (max-width: 992px) {
  #background-table .header-title {
    font-size: 13px;
    padding-left: 0px !important;
  }

  #background-table .item-header .last-title {
    font-size: 20px;
  }
  #background-table .item-header .header-left img {
    width: 100%;
  }
  #background-table .header-left {
    position: relative;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  #background-table .header-right {
    padding-left: 0px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }

  #background-table .li-item .item-left img, 
  #background-table .li-last-item .item-right img {
    width: 100%;
  }
  #background-table .li-item .item-left {
    position: relative;
    width: 100%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  #background-table .li-item .item-right {
    float: left;
    width: 100%;
    padding-left: 0px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }

  #background-table .li-last-item .item-left {
    width: 100%;
    position: relative;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  #background-table .li-last-item .item-right {
    float: right;
    width: 100%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }

  .footer-secon-row {
    display: none;
  }
}

#mCSB_2_container {
  width: 100%;
  height: 100%;
}


/*
 *  EFFECT
 */

.hidden {
  display: none;
}
.container-show {
  margin-top: -20px !important;
  margin-bottom: 15px;
  height: 100% !important;
}
.content-show {
  display: block !important;
  padding-left: 0px !important;
}
.sidebar-hidden {
  margin-left: -768px;
  transition: margin-left 0.3s ease-in-out;
  -webkit-transition: margin-left 0.3s ease-in-out;
  -moz-transition: margin-left 0.3s ease-in-out;
  -o-transition: margin-left 0.3s ease-in-out;
}

/**
 *  RESPONSIVE --------------------------------------------------------------
 */
@media all and (min-width: 768px) {
  .content-close {
    display: none !important;
  }

  .contact-business {
    background-image: none !important;
    cursor: auto !important;
  }

  .index-sticky {
    position: absolute;
  }
}

@media all and (max-width: 1199px) {
  #wrap-container #wrap-content .item-content .tooltips .img-tooltip {
    position: absolute;
    top: 0;
    left: 0px !important;
    color: #fff;
    z-index: 1060;
    width: 91%;
    min-width: 0%;
    height: 101%;
    max-height: 100%;
    margin: 0px;
    margin-left: -1px;
    margin-bottom: -1px;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.83);
  }
  #wrap-container #wrap-content .item-content .tooltips .cv-tooltip .arrow,
  #wrap-container #wrap-content .item-content .tooltips .cv-tooltip:hover .arrow {
    display: none;
  }
  .item-content > .tooltips > .cv-tooltip {
    /*-webkit-animation: tooltip2row_leave 0.5s;
    animation: tooltip2row_leave 0.5s;*/
  }
  .item-content > .tooltips:nth-child(3n+2) > .cv-tooltip:hover {
    width: 190%;
    position: absolute;
    margin-left: -80%;
    right: 0;
    z-index: 1024;
    -webkit-animation: tooltip2row_hover 0.5s; /* Chrome, Safari, Opera */
    animation: tooltip2row_hover 0.5s;
  }
  .item-content > .tooltips:nth-child(3n+0) > .cv-tooltip:hover {
    width: 190%;
    position: absolute;
    left: 15px;
    z-index: 1024;
    -webkit-animation: tooltip2row_hover 0.5s; /* Chrome, Safari, Opera */
    animation: tooltip2row_hover 0.5s;
  }
  .item-content > .tooltips:nth-child(3n+1) > .cv-tooltip:hover {
    width: 190%;
    position: absolute;
    left: 15px;
    z-index: 1024;
    -webkit-animation: tooltip2row_hover 0.5s; /* Chrome, Safari, Opera */
    animation: tooltip2row_hover 0.5s;
  }
}

@media all and (max-width: 992px) {
  #header {
    width: 100%;
    padding: 0px 15px;
  }
  #wrap-footer {
    position: relative;
    margin-top: 30px;
  }
  .index-sticky {
    position: relative;
  }
  
  #wrap-container #wrap-content .item-content .tooltips .img-tooltip {
    position: absolute;
    top: 0;
    left: 0px !important;
    color: #fff;
    z-index: 1060;
    width: 91%;
    min-width: 0%;
    height: 101%;
    max-height: 100%;
    margin: 0px;
    margin-left: -1px;
    margin-bottom: -1px;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.83);
  }
  #wrap-container #wrap-content .item-content .tooltips .cv-tooltip .arrow,
  #wrap-container #wrap-content .item-content .tooltips .cv-tooltip:hover .arrow {
    display: none;
  }
  .item-content > .tooltips > .cv-tooltip {
    /*-webkit-animation: tooltip2row_leave 0.5s;
    animation: tooltip2row_leave 0.5s;*/
  }
  .item-content > .tooltips:nth-child(2n+0) > .cv-tooltip:hover {
    width: 190%;
    position: absolute;
    margin-left: -80%;
    right: 0;
    z-index: 1024;
    -webkit-animation: tooltip2row_hover 0.5s; /* Chrome, Safari, Opera */
    animation: tooltip2row_hover 0.5s;
  }
  .item-content > .tooltips:nth-child(2n+1) > .cv-tooltip:hover {
    width: 190%;
    position: absolute;
    left: 15px;
    z-index: 1024;
    -webkit-animation: tooltip2row_hover 0.5s; /* Chrome, Safari, Opera */
    animation: tooltip2row_hover 0.5s;
  }
}
@keyframes tooltip2row_hover {
  from {width: 100%;}
  to {width: 190%;}
}
@-webkit-keyframes tooltip2row_hover {
  from {width: 100%;}
  to {width: 190%;}
}
@keyframes tooltip2row_leave {
  from {width: 190%;}
  to {width: 100%;}
}
@-webkit-keyframes tooltip2row_leave {
  from {width: 190%;}
  to {width: 100%;}
}

@media all and (max-width: 768px) {
  #wrap-container {
    padding: 0px;
    margin-top: 100px;
    display: block;
  }

  #wrap-content {
    display: none;
  }

  #wrap-sidebar {
    height: 100% !important;
  }

  #wrap-footer {
    position: relative;
    margin-top: 0px;
  }

  .legal-disclaimer {
    padding: 0px !important;
    margin: -20px 0px 15px 0px !important;
  }

  .content-close {
    margin: 15px;
    display: block;
  }
  .contact-business {
    background-image: url("images/arrow-right.png");
    cursor: pointer;
  }

  #mainslider, .bgSlider, .bgSlider img {
    display: none;
  }

  #wrap-container #wrap-content .item-content .tooltips .img-tooltip {
    height: 100%;
  }

  #wrap-container #wrap-content .item-content .tooltips .img-tooltip {
    width: 92%;
    height: 100%;
    margin-top: -3px;
  }
  .item-content > .tooltips:nth-child(n) > .cv-tooltip:hover{
    width: 100%;
    position: initial;
    margin-left: 0;
    right: 0;
    left: 0;
    -webkit-animation: none;
    animation: none;
  }
}